{% extends 'admin/layout.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block content %}
    <h1>Liste des articles</h1>

    <p>
        <a href="{{ path('admin_article_new')}}" class="btn btn-primary">Ajouter un article</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.category.title }}</td>
                <td>{{ article.content}}</td>
                <td>{{ article.createdAt | date('d-m-Y') }}</td>
                <td>{{ article.isActive ? 'Publié' : 'Brouillon' }}</td>
                <td>
                    <a href="{{ path('admin_article_show', {'id': article.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-secondary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(articles)}}

{% endblock %}
